<p class="list-control-item list-control-item--clickable {{if @active "list-control-item__active"}}">
    <LinkTo @route="job" @model={{@job}} class="list-control-column job-link">
        <div class="joblink-row">
            <div class="u-text--normal u-color--text">
                <h5>{{ @job.title }}</h5>
            </div>
            <div class="u-text--normal u-color--text">
                <h6>Salary: €{{ @job.salary }}</h6>
            </div>
        </div>
        <div class="joblink-row">
            <div>
                {{ @job.location }}
            </div>
            <div >
                {{ @job.match }}% match
            </div>
        </div>
    </LinkTo>
</p>